@font-face {
    font-family: "PTSans Reg";
    src: url(assets/fonts/PTSans-Regular.ttf);
}

@font-face {
    font-family: "PTSans Bold";
    src: url(assets/fonts/PTSans-Bold.ttf);
}

:root {
    --primary-color: #fc0254;
    --primary-dark: #363636;
}

body {
    color: var(--primary-dark);
}

.navbar-nav {
    font-family: "PTSans Bold";
}

.tab-lines {
    font-family: "PTSans Reg";
}

.navbar-nav .nav-link {
    color: var(--primary-dark) !important;
    transition: all 0.2s;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color);
}

.active {
    transition: all 0.2s;
    color: var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown {
    height: 100px;
}

.dropdown-menu:hover {
    display: block;
}

.dropdown-item:hover {
    background-color: white;
    color: var(--primary-color) !important;
}

.card-img-wrapper {
  position: relative;
  display: inline-block;
}

.card-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

.card-img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0;
  transition: all 0.2s;
}

.card:hover .card-img-wrapper::after {
  opacity: 0.34;
}

.recipe-section{
    padding-bottom: 120px;
}

.card-img-wrapper i{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.card:hover .card-img-wrapper i{
    display: block !important;
}

.recipe-body{
    background-color: #F8F9FB;
    padding: 120px 0px;
}

.active-pill{
    background-color: var(--primary-color);
    color: white !important;
    font-weight: bold;
    border-radius: 0px !important;
    padding: 10px 50px;
}

.nav-pills{
    font-family: "PTSans Bold";
}

.nav-pills .nav-link{
    color: var(--primary-dark);
}